*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.container_fluid{
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

a{
    text-decoration: none;
    // color: $main_color ;
}

.col-2{
    width: calc(100% / 12 * 2);
}

.wrap{
    flex-wrap: wrap;
}

.my-10{
    margin: 10px 0;
}
.my-20{
    margin: 20px 0;
}
.my-30{
    margin: 30px 0;
}

.p-10{
    padding:  10px;
}
.p-20{
    padding:  20px;
}
.p-30{
    padding:  30px;
}

main{
    margin: 30px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

ul{
    list-style: none;
    height: 100%;
}

.rel{
    position: relative;
}

.white{
    color: white;
}

._uppercase{
    text-transform: uppercase;
}