

footer{
    .bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        .footBg{
            position: absolute;
            left: 0;
            top: 0; 
            height: 550px;
            width: 100%;
            z-index: -1;
        }
    }
    height: 500px;
    
    // background-color: #1c1c1c;
    position: relative;
    .special_row{
        width: 40%;
        z-index: 9999;
        padding: 20px 10px;
        .col{
            width: 100px;
        }
    }
}

ul{
    height: auto;
    li{
        margin: 7px 0;
    }
}

h5{
    font-size: 17px;
    margin-top: 20px;
    color:$main_color;
    text-transform: uppercase;
    
}

a{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    &:hover{
        color:$main_color;
    }
}